/*
==========
Fonts
==========
*/

@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Grand+Hotel&display=swap");

/* 
==========
Variables
==========
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  ---radius: 0.5rem;
}

/* 
==========
Global Styles
==========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
==========
More Global CSS
==========
*/

.btn {
  color: var(--clr-white);
  background: var(--clr-primary);
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/main-bcg.jpeg") center/cover no-repeat fixed;
  position: relative;

  /* animation */
  overflow-x: hidden;
}
.header .banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff-secondary);
  color: #678e3e;
  /* animation */
}
.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
}
.banner .banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
}

/* content divider */
.content-divider {
  height: 0.25rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    #e9b949,
    var(--clr-primary)
  );
}

.about-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

.about-title {
  margin-bottom: 2rem;
  width: 85%;
}

.section-center {
  width: 85%;
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 1170px;
}

/* 
==========
Skills Section
==========
*/

.skills {
  background: var(--clr-grey-10);
}
.skills .skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}
.skill-icon {
  color: var(--clr-primary);
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  transition: var(--transition);
}

.skill-title {
  color: #102a42;
  text-shadow: 0.5px 0.5px 0.2px black;
}

.skill-text {
  max-width: 17rem;
  margin: 0 auto;
  color: var(--clr-grey-5);
}
.skill:hover {
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary);
}
.skill-icon:hover {
  transform: translateY(-8px);
}

@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95%;
    padding: 4rem 1rem;
  }
}

/* 
  ==========
  About 
  ==========
  */

.about-img,
.about-info {
  padding: 2rem 0;
}

.about-bgimg {
  transition: var(--transition);
}

.about-img-picture {
  max-width: 30rem;
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  overflow: hidden;
}

.about-bgimg:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-text {
  color: var(--clr-grey-5);
  max-width: 26rem;
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 4rem;
  }
}

/* 
==========
Products Section
==========
*/

.products {
  background: var(--clr-grey-10);
}

.products article {
  padding: 2rem 0;
}

.product-text {
  color: var(--clr-grey-5);
  max-width: 26rem;
}

.product-img {
  height: 17rem;
  object-fit: cover;
  margin-bottom: 2rem;
  border-radius: var(---radius);
}

.product {
  margin-bottom: 2rem;
}

.product-price {
  color: var(--clr-primary);
}

@media screen and (min-width: 776px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .product-info {
    float: left;
    width: 30%;
  }
  .product-inventory {
    float: left;
    width: 70%;
  }
  .product{
    margin-bottom: 0;
    padding: 0px 2rem;
  }
}
